node_modules
.env

# Hardhat files
/cache
/artifacts

# OpenZeppelin upgrade files (only local artifacts, not contracts)
.openzeppelin/

# VSCode settings
.vscode/

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# MacOS specific
.DS_Store
